@import 'tailwindcss';


@theme {
    /* Font sizes */
    --text-c-xxs: 0.25rem;
    --text-c-xs: 0.5rem;
    --text-c-s: 0.75rem;
    --text-c-m: 1rem;
    --text-c-l: 1.25rem;
    --text-c-xl: 1.5rem;
    --text-c-xxl: 1.75rem;
    --text-c-xxxl: 2rem;

    /* Font Family */
    --font-source-sans-3: "Source Sans 3", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";

    /* ----------------- Colors --------------- */
    /* Primaries */
    --color-pr-spl: #ddf5fe;
    --color-pr-l: #ddf5fe;
    --color-pr-sml: #62d1f9;
    --color-pr-rgba: 9, 176, 236, 1;
    --color-pr: #09b0ec;
    --color-pr-smd: #078bbb;
    --color-pr-d: #05678a;
    --color-pr-spd: #021d27;
    --color-pr-xspd: #011116;

    /* Analogus */
    --color-an-pink: #b709ec;
    --color-an-blue: #093eec;
    --color-an-purple: #4509ec;

    /* ---------------- Effects ---------------- */
    --card-shadow: 0 0 8px var(--color-pr);
    --card-shadow-hover: 0 0 16px var(--color-pr);
    --compression-text-shadow: 0 0 16px var(--color-pr-spd); 
    --select-shadow: 0 1px 3px var(--color-pr);

    /* ---------------- Animations ------------- */
    --animate-left-fade-in: fade-in-left 1s ease-out forwards;
    --animate-right-fade-in: fade-in-right 1s ease-out forwards;
    --animate-bottom-fade-in: fade-in-bottom 1s ease-out forwards;
    --animate-little-bounce: little-bounce 1s ease-out forwards;
    
    --animate-fade-in: fade-in 2s ease-out infinite;


    @keyframes fade-in {
        0%,100% {
            opacity: 0.1;
        }
        50% {
            opacity: 0.4;
        }
    }

    @keyframes fade-in-left {
        from {
            opacity: 0;
            transform: translateX(-120px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-in-right {
        from {
            opacity: 0;
            transform: translateX(0);
        }
        to {
            opacity: 1;
            transform: translateX(-120px);
        }
    }

    @keyframes fade-in-bottom {
        from {
            opacity: 0;
            transform: translateY(120px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    @apply w-dvw min-h-screen bg-pr-xspd overflow-x -hidden box-border;
}


@layer utilities {
    .glow-bull {
        @apply absolute top-1/4 left-[-100px] w-[600px] h-[400px] bg-gradient-to-tr from-[var(--color-pr)] to-[var(--color-pr-l)] opacity-30 blur-[200px] z-10 rounded-full -translate-y-1/2 -translate-x-1/2;
    }

    .gradient-text {
        @apply text-transparent bg-clip-text bg-gradient-to-r;
    }
}
